main {
    .images_section {
        .card_mark {
            position: absolute;
            top: 300px ;
           button{
            border-radius: 5px;
            padding: 10px;
            border-color: #bc5148;
            background-color:#bc5148 ;
            color: white;
            border-width: 2px;
           }
        }
    }
}